<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1>{{recipeType}}</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: end;margin-top: 25px;">
            <a routerLink="/dashboard/home" class="Continue">Home Page</a>
        </div>
        
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let data of selectRecipe">
            <div class="card mt-3">
                <div class="">
                    <img class="" [src]="data.recipe.image" alt="Card image cap" style="width: 100%;height: 50%;">
                    <div class="centered">
                        <h5>{{data.recipe.label}}</h5>
                        <h5>{{data.recipe.source}}</h5>
                        <button type="button" class="btn btn-primary">
                            calories <span class="badge badge-light">{{data.recipe.calories | number : '1.2-2'}}</span>
                            <span class="sr-only">unread messages</span>
                          </button>
                    </div>
                </div>
                <div class="card-body">
                    <h4>ingredientLines</h4>
                    <ul class="fa-ul" *ngFor ="let x of data.recipe.ingredientLines">
                        <li><span><i class="fa fa-check"></i></span><span style="margin-left: 5px;">{{x}}</span></li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let x of recipeList">
                    <div class="card mt-3">
                        <div class="">
                            <img class="" [src]="x.image" alt="Card image cap" style="height: 227px; width: 100%;">
                        </div>
                        <div class="card-body text-center">
                          <h6 class="card-title">{{x.foodCategory}}</h6>
                          <span class="card-text">{{x.text}}</span>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>