<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

    <img src="/assets/images/logo.jpg"  alt="" style="height:50px;">
    <h3 style="font-family: cursive;">Recipe Search</h3>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link active" style="cursor: pointer;color: #6675df;" aria-current="page" herf="#" (click)="logout()">Logout</a>

        </li>

    </ul>

</nav>
<!-- End of Topbar -->